
body{
    background-image:url('image.webp') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading-1{
    color:blue;
}
.para-1{
    color: blue;
    border: 10px solid;
    font-size: 50px;
    border-color: azure;
    padding:5px 5px 5px 5px;
    margin-right: 35%;
    text-shadow: 10px 10px black;
    
    box-shadow: 10px 2px 10px 10px red ;
    
    

}
.div-1 h1{
    color: chartreuse;
    border-style: double;
    border-color: black;
    margin-right: 30%;
}
.div-2 p,
.div-1 p{
    color: crimson;
}
.heading-3{
    font-size: 45px;
    color: blueviolet;
}
.div-1 h1,
.div-1 p{
    margin-left: 40%;
}